body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
}

.converge {
  text-align: left;
  color: tomato;
  padding-left: 10px;
}

.nav-login {
  margin-right: 200px;
}
body {background-color: gainsboro;}

.game-search {
  text-align:center
}


.top-games {
  display:run-in;
  margin-left: 500px;
}

.game-photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.game-detail {
  text-align: center;
}

.tgn {
  color: black;
}