* {
  margin: 0;
  padding:0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding-top: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

a:link, a:visited {
  text-decoration: none;
  color: tomato;
}

.game-search input {
  height: 20px;
  width: 500px;
  padding-top: 5px;
  border-style: none;
  border-radius: 5px;
  outline: none;
}

.navlog {
padding-right: 10px;
text-align: right;
}

body {background-color: #202020;}

.game-search {
  color:tomato;
  text-align:center;
}

.top-games {
  display:run-in;
  margin-left: 300px;
  padding-top: 20px;
}

.game-photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  margin-top: 20px;
  margin-right: 200px;
}

.game-detail {
  color: tomato;
  text-align: center;
}

.review-content {
  color:tomato;
  text-align: center;
}
.review-card {
  text-align: center;
  color: black;
  outline-style: solid;
  margin-left: 500px;
  margin-top: 50px;
  height: 50px;
  width: 400px;
}

.tgn {
  color: tomato;
  padding-top: 20px;
}

.rn {
  color: tomato;
  padding-top: 20px;
}

.results-container {
  padding-top: 20px;
}

.login {
  margin-top: 200px;
  text-align: center;
  color:tomato;
}

.signup {
  margin-top: 200px;
  text-align: center;
  color: tomato
}